<div id="contacto">
  <div class="map-responsive">
    <!-- <div class="d-flex justify-content-center">
      <p>Como llegar ⬇️</p>
    </div> -->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.32467227212!2d-65.41195287443756!3d-24.784333695918832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc3beab197a71%3A0xebaad3e6b758dc91!2sBartolom%C3%A9%20Mitre%20496%2C%20A4400%20Salta!5e0!3m2!1ses-419!2sar!4v1689014886385!5m2!1ses-419!2sar"
      width="250"
      height="200"
      style="border: 0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="redes">
    <a href="https://www.instagram.com/jm.skinstudio/" target="_blank"
      ><i class="fa-brands fa-instagram fa-3x"></i
    ></a>

    <a
      href="https://api.whatsapp.com/send?phone=1134238105&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202"
      target="_blank"
      ><i class="fa-brands fa-whatsapp fa-3x"></i
    ></a>
  </div>
</div>
