/* #f3bc3 #fdecda f1dddd*/

.body-content {
    background-color: #fce0e8;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {  
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}


.card {
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20 px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}



.card .contenido {
    padding: 15px;
    text-align: center;

}

.card .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.grupo {
    display: flex;
    justify-content: space-around;
}

#tratamiento {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    align-items: center;
    justify-items: center;
}

.item-t {
    width: 250px;
    /* height: 300px; */
}

.titulo-tratamiento {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    font-family: 'Belanosima', sans-serif;
    margin-top: 3rem;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.5rem;
}

.tituloproducto h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    font-family: 'Belanosima', sans-serif;
    margin-top: 3rem;
    margin-bottom: 50px;
    text-align: center;
}

.labo1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#productos {
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    align-items: center;
    justify-items: center;
}

.img-card {
    width: 248px;
    height: 300px;
}

#productos .labo {
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-weight: 200;
    width: 300px;
    
}

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;

}

#sobremi .contenedor-foto{
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 10%;
    background-color: #f3f3f3;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 27px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#sobremi .sobremi p{
    font-size: 17px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}



 .leer-mas {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
 }

 .leer-mas:hover {
    background-color: #0e0d0d;
    color: #fff;
 }

 @media screen and (max-width:1023px) {
    /* .content {
        display: none;
    } */

    .grupo {
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }

    .grupo .card {
        display: block;
        margin: auto;
        /* height: 200px; */
        margin-top: 30px;
    }

    .card h5 {
        font-weight: bold;
        font-size: 29px;
    }

    .grupo img {
        /* display: none; */
        /* height: 100px;
        width: 100%; */
    }

    .labo1 {
        height: 350px;
        width: 570px;
        display: flex;
        margin: auto; 
    }
    .labo2 {
        height: 350px;
        width: 570px;
        display: flex;
        margin: auto;
    }
    .labo3 {
        height: 350px;
        width: 570px;
        display: flex;
        margin: auto;
    }
    #sobremi {
        margin-top: 20px;
        padding: 50px 0;
        display: block;
    }

    #sobremi  .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img {
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }

    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }

    #sobremi .sobremi h3 {
        /* font-size:  25px; */
        text-align: center;
    }

    #sobremi .sobremi p {
        text-align: center;
        padding: 0 10px;
    }

    #sobremi .sobremi a {
        margin: 40px;
        padding: 10px;
    }
    #contacto .datos {
        display: none;
    }

    #contacto {
        display: flex;
        justify-content: center;
        background-color: #FFF;
    }
 }