<!-- Boton wpp -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>
<a
  href="https://api.whatsapp.com/send?phone=1134238105&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
  class="float"
  target="_blank"
>
  <i class="fa fa-whatsapp my-float"></i>
</a>

<app-header></app-header>
<app-modal [data]="selectedItem"></app-modal>

<div class="content">
  <div class="carrusel mt-5">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://http2.mlstatic.com/D_NQ_882988-MLA70390413574_072023-OO.webp"
            class="d-block w-100"
            alt="..."
            height="400px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/img/prueba2.webp"
            class="d-block w-100"
            alt="..."
            height="400px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="assets/img/carrusel1.jpeg"
            class="d-block w-100"
            alt="..."
            height="400px"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="titulo-tratamiento">
  <h3>Tratamientos</h3>
</div>

<div class="grupo mt-4" id="tratamiento">
  <div class="card col-md-6 col-sm-6" style="width: 18rem">
    <img src="assets/img/logopou2.jfif" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title text-center mb-5 mt-4" style="font-size: 23px">
        Peeling
      </h5>
      <!-- <p class="card-text text-center mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <!-- <button class="leer-mas"  (click)="setSelectedItem({title: 'Peeling', content: 'Un peeling es un proceso de exfoliación de la piel, que consiste en eliminar las células muertas de las capas superficiales de la piel, que en muchos casos contienen melanina y provoca que se vean manchas en la piel.'})">Leer más</button> -->
      <button
        style="display: block; margin: auto"
        (click)="
          setSelectedItem({
            title: 'Peeling',
            content:
              'Un peeling es un proceso de exfoliación de la piel, que consiste en eliminar las células muertas de las capas superficiales de la piel, que en muchos casos contienen melanina y provoca que se vean manchas en la piel.'
          })
        "
        type="button"
        class="btn btn-outline-secondary"
      >
        Leer más
      </button>
    </div>
  </div>

  <div class="card col-md-6 col-sm-6" style="width: 18rem">
    <img src="assets/img/logopou2.jfif" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title text-center mb-5 mt-4" style="font-size: 23px">
        Limpieza profunda
      </h5>
      <!-- <p class="card-text text-center mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <button
        style="display: block; margin: auto"
        (click)="
          setSelectedItem({
            title: 'Peeling',
            content:
              'Un peeling es un proceso de exfoliación de la piel, que consiste en eliminar las células muertas de las capas superficiales de la piel, que en muchos casos contienen melanina y provoca que se vean manchas en la piel.'
          })
        "
        type="button"
        class="btn btn-outline-secondary"
      >
        Leer más
      </button>
    </div>
  </div>
  <div class="card col-md-6 col-sm-6" style="width: 18rem">
    <img src="assets/img/logopou2.jfif" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title text-center mb-5 mt-4" style="font-size: 23px">
        Card title
      </h5>
      <!-- <p class="card-text text-center mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <button
        style="display: block; margin: auto"
        (click)="
          setSelectedItem({
            title: 'Peeling',
            content:
              'Un peeling es un proceso de exfoliación de la piel, que consiste en eliminar las células muertas de las capas superficiales de la piel, que en muchos casos contienen melanina y provoca que se vean manchas en la piel.'
          })
        "
        type="button"
        class="btn btn-outline-secondary"
      >
        Leer más
      </button>
    </div>
  </div>
  <div class="card col-md-6 col-sm-6" style="width: 18rem">
    <img src="assets/img/logopou2.jfif" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title text-center mb-5 mt-4" style="font-size: 23px">
        Card title
      </h5>
      <!-- <p class="card-text text-center mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <button
        style="display: block; margin: auto"
        (click)="
          setSelectedItem({
            title: 'Peeling',
            content:
              'Un peeling es un proceso de exfoliación de la piel, que consiste en eliminar las células muertas de las capas superficiales de la piel, que en muchos casos contienen melanina y provoca que se vean manchas en la piel.'
          })
        "
        type="button"
        class="btn btn-outline-secondary"
      >
        Leer más
      </button>
    </div>
  </div>
</div>

<div id="productos">
  <div class="tituloproducto">
    <h2>Trabajamos con estos laboratorios:</h2>
  </div>
  <div class="labo1">
    <div class="card" style="width: 18rem">
      <img src="assets/img/lidherma.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 style="font-size: 2rem; margin-top: 1rem">Lidherma</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="assets/img/exel.webp" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 style="font-size: 2rem; margin-top: 1rem">Exel</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
    </div>
  </div>
  <div class="labo2">
    <div class="card" style="width: 18rem">
      <img src="assets/img/idraet.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 style="font-size: 2rem; margin-top: 1rem">Idraet</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="assets/img/idraet.png " class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 style="font-size: 2rem; margin-top: 1.5rem">Garnier</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
    </div>
  </div>
  <div class="labo3">
    <div class="card" style="width: 18rem">
      <img src="assets/img/lidherma.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 style="font-size: 2rem; margin-top: 1rem">Lidherma</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="assets/img/lidherma.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 style="font-size: 2rem; margin-top: 1rem">Lidherma</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
    </div>
  </div>
</div>
<div id="sobremi">
  <div class="contenedor-foto">
    <img src="assets/img/pandi.jpg" alt="" />
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Sobre Mi</p>
    <h2>Hola, soy <span>Joaquin Marquillas</span></h2>
    <h3>Cosmetologo</h3>
    <p>Estudiante de programacion frontend angular en Coderhouse.</p>
  </div>
</div>


